<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<ul class="upload-view-ul">
        <li ng-repeat="src in imgSrcArr" class="pull-left" ng-click="delCurUpload(src)"  
            ng-class="{'row-last': (($index+1) % 5==0)}">
            <span>x</span>
            <em ng-if='nrc'>{{formData.attachvo[$index].attachmentType}}</em>
            <img ng-src="{{src}}">
        </li>
        <div class="attachment" pop-type-select ng-if="nrc">+</div>
        
        <div class="attachment" ng-if="!nrc">
            <form class="upload">
                <input type="file" name="file[]"  ng-file-select="onFileSelect($files, $event)" multiple>
            </form>
        </div>
    </ul>
	
</body>
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script>
    angular.module('myApp')
    .directive('ngFileSelect', [ '$parse', '$timeout', function($parse, $timeout) {
        return function(scope, elem, attr) {
            var fn = $parse(attr['ngFileSelect']);
            
            elem.bind('change', function(evt) {
                var files = [];
                fileList = evt.target.files;
                
                if (fileList != null) {
                    for (i = 0; i < fileList.length; i++) {
                        files.push(fileList.item(i));
                    }
                }
                $timeout(function() {
                    fn(scope, {
                        $files : files,
                        $event : evt
                    });
                });
            });
        };
    }])

    //上传文件预览
    angular.module('myServers',[])
    .factory('fileReader', ['$q', '$log', function($q, $log) {
        var dataURItoBlob = function(dataURI) {  
            // convert base64/URLEncoded data component to raw binary data held in a string  
            var byteString;  
            if (dataURI.split(',')[0].indexOf('base64') >= 0)  
                byteString = atob(dataURI.split(',')[1]);  
            else  
                byteString = unescape(dataURI.split(',')[1]);  
      
            // separate out the mime component  
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];  
      
            // write the bytes of the string to a typed array  
            var ia = new Uint8Array(byteString.length);  
            for (var i = 0; i < byteString.length; i++) {  
                ia[i] = byteString.charCodeAt(i);  
            }  
      
            return new Blob([ia], {  
                type: mimeString  
            });  
       }; 
         
         
        var onLoad = function(reader, deferred, scope,file) {
            return function() {
                scope.$apply(function() {
                     var img = new Image();
                    //前端压缩图片
                    img.onload = function(){ 
                        //resize the image using canvas  
                        var canvas = document.createElement("canvas");  
                        var ctx = canvas.getContext("2d");  
                        var width = img.width;  
                        var height = img.height; 
                        
                        var MAX_WIDTH = width>2500 ?  width/2 : 2500;  
                        var MAX_HEIGHT = height>2500 ? height/2 : 2500;
                        if (width > height) {  
                            if (width > MAX_WIDTH) {  
                                height *= MAX_WIDTH / width;  
                                width = MAX_WIDTH;  
                            }  
                        } else {  
                            if (height > MAX_HEIGHT) {  
                                width *= MAX_HEIGHT / height;  
                                height = MAX_HEIGHT;  
                            }  
                        }
    
                        canvas.width = width ;  
                        canvas.height = height; 
    
                        ctx.drawImage(img, 0, 0, width, height);  
    
                        
                        var dataURL = canvas.toDataURL('image/jpeg', 1);
                        var blob = dataURItoBlob(dataURL); 
                        if(blob.size > 2000 * 1024){
                            dataURL = canvas.toDataURL('image/jpeg', .2);
                        }else if(blob.size > 1000 * 1024){
                            dataURL = canvas.toDataURL('image/jpeg', .5);
                            
                        }else{
                            dataURL = canvas.toDataURL('image/jpeg', .8);
                        }
                        blob = dataURItoBlob(dataURL);
                        deferred.resolve(blob);
                    }
                    img.src = URL.createObjectURL(file);

                    
                });
            };
        };

        var onError = function(reader, deferred, scope) {
            return function() {
                scope.$apply(function() {
                    deferred.reject(reader.result);
                });
            };
        };

        var onProgress = function(reader, scope) {
            return function(event) {
                
                scope.$broadcast("fileProgress", {
                    total: event.total,
                    loaded: event.loaded
                });
            };
        };

        var getReader = function(deferred, scope, file) {
            var reader = new FileReader();
            reader.onload = onLoad(reader, deferred, scope,file);
            reader.onerror = onError(reader, deferred, scope);
            reader.onprogress = onProgress(reader, scope);
            return reader;
        };

        var readAsDataURL = function(file, scope) {
            var deferred = $q.defer();
            var reader = getReader(deferred, scope,file);
            reader.readAsDataURL(file);

            return deferred.promise;
        };

        return {
            readAsDataUrl: readAsDataURL
        };
    }]);


    this.FormdataPost = function(pathUrl, formId, formData, files) {
        var fd = new FormData();
        fd.append('formId', formId);
        if(files && angular.isArray(files)) {
            files.forEach(function(item) {
                fd.append('file', item, item.name);
            });
        }
        fd.append('formData', angular.toJson(formData, true));
        var httpConfig = {
            headers: {
                'Authorization': 'Bearer ' + this.token,
                'Content-Type': undefined
            },
            transformRequest: angular.identity
        };
        return $http.post(rootUrl + pathUrl, fd, httpConfig).then(function(data) {
            return data;
        }).catch(function(error) {
            $rootScope.interfaceName = pathUrl;
            $rootScope.setNewWortStatus({
                status: error.status,
                errInfo: error.data && error.data.statusInfo || ''
            });
            return error;
        });
    }
</script>
</html>